
<body>
    
    <!-- navigation bar -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a href="" class="navbar-brand active">i wish</a>
        </div>

        <div class="cillapse navbar-collapse target">
          <ul class="nav nav-tabs">
            <li data-toggle="tab"><a href="/">Home</a></li>
            <li data-toggle="tab"><a href="#upload">Upload</a></li>
            <li data-toggle="tab" class="navbar-right"><a href="/signin">Sign in</a></li>
            <li data-toggle="tab" class="navbar-right"><a href="/signup">Sign up</a></li>
          </ul>
        </div>
      </nav>
    <!---->
    
    <div class="container" style="padding:20px 0">
        
    <!-- Thumbnail -->
    
    <% @contents.each do |content| %>
        <% unless content.img.empty? %>
            <div class="col">
              <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                  <img src="<%= content.img %>" class="img-rounded img-responsive">
                  <div class="caption">
                    <h3><%= content.item_name %></h3>
                    <p><%= content.comment %></p>
                    <p>by : user name</p>
                    <span>Good: <%= content.good %></span>
                    <div class="box" style="margin:10px;"></div>
                    <div>
                        <span class="btn-group">
                            <form action="/edit/<%= content.id %>" method="post">
                                <input type="submit" class="btn btn-success" value="&#xf044;Edit"></input>
                            </form>
                        </span>
                        <span  class="btn-group pull-right">
                            <form action="/delete/<%= content.id %>" method="post">
                                <input type="submit" class="btn btn-danger" value="&#xf00d;Delete"></input>
                            </form>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
    <!---->
    
    </div>
    
    <div class="container" style="padding:20px 0">
        
        <!-- pager -->
        <ul class="pager">
            <li class="previous"><a href="">prev</a></li>
            <li class="next"><a href="">next</a></li>
        </ul>
        <!---->
        
        <!-- back -->
        <form action="/back" method="post">
            <input type="submit" class="btn btn-default" value="&#xf060;Back"></input>
        </form>
        <!---->
    
    </div>

</body>
