
      <!-- navigation bar -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a href="" class="navbar-brand active">i wish</a>
        </div>

        <div class="cillapse navbar-collapse target">
          <ul class="nav nav-tabs">
            <li data-toggle="tab"><a href="/">Home</a></li>
            <!-- dropdown menu -->
            <li class="dropdown navbar-right">
              <a href="#" class="dropdown-toggle" id=”account-menu″ data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby=”account-menu″>
                <li class="text-center"><a href="/user/<%= session[:user] %>"><%= session[:name] %></a></li>
                <li role="separator" class="divider"></li>
                <li class="text-center"><a href="/signout">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    <!---->
    
    <div class="container" style="padding:20px 0">
      
      <!-- edit form -->
      <form action="/renew/<%= @content.id %>" method="post">
          <p>item_name：<input type="text" name="item_name" value="<%= @content.item_name %>"></p>
          <p>comment：<input type="text" name="comment" value="<%= @content.comment %>"></p>
          <p style="margin: 20px;"><input type="submit" class="btn btn-primary" value="done"></p>
      </form>
      <!---->
    
    </div>
