  <body class="bg-image-1">
    <!-- navigation bar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <a href="" class="navbar-brand active">i wish</a>
        </div>
        <div class="">
          <ul class="nav nav-tabs">
            <li><a href="#home">Home</a></li>
            <li id="upload_toggle"><a href="#upload">Upload<span class="caret"></span></a></li>
            <!-- dropdown menu -->
            <li class="dropdown navbar-right" style="padding: 0 20px 0 0;">
              <a href="#" class="dropdown-toggle" id=”account-menu″ data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby=”account-menu″>
                <li class="text-center"><a href="/user/<%= session[:user] %>"><%= session[:name] %></a></li>
                <li role="separator" class="divider"></li>
                <li class="text-center"><a href="/signout">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    <!---->
    
    
    <!-- Upload Image -->
    <div id="uploader" style="padding: 20px 0 0 0;">
        <header class="container" style="padding:20px 0; background:#f5f5f5; border-radius: 10px;">
            <div>
                <div class="container" style="padding:20px 10;">
                    <form action="/new" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group form-inline col-md-2">
                                <input type="text" id="img_url" class="form-control" placeholder=" Enter Image URL" name="image_url" value="<%= params[:url]%>">
                            </div>
                            <div class="col-md-1" style="font-size:large; color:#777777">
                                <span> or </span>
                            </div>
                            <div class="col-md-6">
                                <p><input type="file" name="file" class="filestyle" data-buttonName="btn-success" data-input="false" data-classIcon="icon-plus" data-buttonText="select image"></p>
                                <script type="text/javascript">
                                  $(function(){
                                    $(":file").filestyle({input: false});
                                    $(":file").filestyle({buttonName: "btn-success"});
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                              <p>item：<input type="text" class="form-control" placeholder=" Item_name" name="item_name"></p>
                              <p>comment：<input type="text" class="form-control" placeholder=" Comment" name="comment"></p>
                        </div>
                        <p><input type="submit" class="btn btn-primary" value="&#xf093;Upload"></p>
                    </form>
                </div>
            </div>
        </header>
    </div>
    <!---->
    
    <script>
      $(function() {
        $('#upload_toggle').click(function(){
          $('#uploader').toggle();
        });
      });
    </script>
    
    <div class="container" style="padding:20px 0;">
        <!-- navigation bar -->
      <nav class="navbar navbar-default" style="border-radius: 10px;">
        <div class="navbar-header">
        </div>

        <div class="collapse navbar-collapse target">
          <ul class="nav navbar-nav">
            <li><a>Sort by: </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </form>
          </ul>
        </div>
      </nav>
        <!---->
    </div>
    
    <div class="container" style="padding:20px 0">
    
    <!-- Thumbnail -->
    <% @contents.each do |content| %>
        <% unless content.img == [] %>
                <div class="row" style="width: 35%; float: left;">
                  <div style="height: 500px;">
                    <div class="col-sm-6 col-md-3" style="width: 90%;">
                      <div class="thumbnail" style="border-radius: 10px;">
                        <a href="<%= content.img %>" data-lightbox="image" class="alpha">
                          <img src="<%= content.img %>" alt="<%= content.img %>" class="img-responsive" style="border-radius: 10px;">
                        </a>
                        <div class="caption">
                          <h4 style="padding: 0 0 0 20px"><%= content.item_name %></h4>
                          <p style="padding: 0 0 0 20px"><%= content.comment %></p>
                          <p style="padding: 0 0 0 20px">by : <a href="/user/<%= content.user_id %>"><%= User.find_by(id: content.user_id).username %></a></p>
                          <div class="box" style="margin:10px;"></div>
                          <span style="padding: 0 0 0 20px">Good: <%= Good.where(contribution_id: content.id).count %></span>
                          <span style="padding: 0 0 0 30px">Want: <%= Want.where(contribution_id: content.id).count %></span>
                          <div class="box" style="margin:10px;"></div>
                          <span class="btn-group" style="padding: 0 0 0 20px">
                              <form action="/good/<%= content.id %>" method="post">
                                <% if Good.where(user_id: session[:user]).first %>
                                  <input type="submit" class="btn btn-default" style="border: 1px solid #157EF4; opacity: 0.5;" value="&#xf087; Good!"></input>
                                <% else %>
                                  <input type="submit" class="btn btn-default" style="border: 1px solid #157EF4;" value="&#xf087; Good!"></input>
                                <% end %>
                              </form>
                          </span>
                          <span class="btn-group pull-right" style="padding: 0 20px 0 0">
                              <form action="/want/<%= content.id %>" method="post">
                                <% if Want.where(user_id: session[:user]).first %>
                                  <input type="submit" class="btn btn-default" style="border: 1px solid #3CA43A; opacity: 0.5" value="&#xf08a; Want!"></input>
                                <% else %>
                                  <input type="submit" class="btn btn-default" style="border: 1px solid #3CA43A;" value="&#xf08a; Want!"></input>
                                <% end %>
                              </form>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        <% end %>
    <% end %>
    <!---->
    
    </div>
    
    <div class="container" style="padding:20px 0">
    
        <!-- pager -->
        <ul class="pager">
            <li class="previous"><a href="">prev</a></li>
            <li class="next"><a href="">next</a></li>
        </ul>
        <!---->
        
    </div>
  <body>