<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>BBS</title>
</head>
<body>
    <form action="/new" method="post" enctype="multipart/form-data">
        <p>名前：<input type="text" name="user_name"></p>
        <p>本文：<input type="text" name="body"></p>
        <p><input type="file" name="file"></p>
        <p><input type="submit" value="投稿"></p>
    </form>
    
    <ul>
        <% @contents.each do |content| %>
        <li>
            <p><%= content.name %></p>
            <p><%= content.body %></p>
            <% unless content.img.empty? %>
            <p><img src="<%= content.img %>"></p>
            <% end %>
            <span><%= content.good %></span>
            <span>
                <form action="/good/<%= content.id %>" method="post">
                    <input type="submit" value="いいね"></input>
                </form>
            </span>
            <span>
                <form action="/delete/<%= content.id %>" method="post">
                    <input type="submit" value="削除"></input>
                </form>
            </span>
            <span>
                <form action="/edit/<%= content.id %>" method="post">
                    <input type="submit" value="編集"></input>
                </form>
            </span>
        </li>
        <% end %>
    </ul>
    
    <ul>
        <li>
            <p>投稿者(name)</p>
            <p>本文(body)</p>
        </li>
    </ul>
</body>
</html>
